{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
<p>Displaying {{doc_count}} pamphlets sorted by {{sort}}.
<br/>
Sort by: <a href={% url "pamphlet_list" sort='title' %}>title</a> | <a
href={% url "pamphlet_list" sort='author' %}>author</a> | <a href={% url "pamphlet_list" sort='date' %}>date</a>
<br/>
View: all pamphlets | <a
href={% url "digital_editions" %}>digital editions</a>
<br/>
</p>

{% for pamphlet in doc_list %}
<p>{{pamphlet.author}}

{% if pamphlet.id %}
<a href={% url "pamphlet_display" pamphlet.id %}>{{pamphlet.title}}</a>
{% else %}
{{pamphlet.title}}
{% endif %}

{{pamphlet.date}}
{% if pamphlet.id == "epid_1005" %}<a href="{{STATIC_URL}}image-content/{{pamphlet.id|cut:"_1005"}}001.jpg">
<img src="{{STATIC_URL}}image-content/{{pamphlet.id|cut:"_1005"}}001.jpg" style="width:70px;height:70px"
     class="img-thumbnail" 
 	 alt="{{pamphlet.title}}"></img></a>
{% elif pamphlet.id == "bouc_1005" %}<a href="{{STATIC_URL}}image-content/{{pamphlet.id|cut:"_1005"}}l01.jpg">
<img src="{{STATIC_URL}}image-content/{{pamphlet.id|cut:"_1005"}}l01.jpg" style="width:70px;height:70px"
     class="img-thumbnail" 
 	 alt="{{pamphlet.title}}"></img></a>
{% elif pamphlet.figure == "" %}<a href="{{STATIC_URL}}image-content/{{pamphlet.id|cut:"_1005"}}01.jpg">
<img src="{{STATIC_URL}}image-content/{{pamphlet.id|cut:"_1005"}}01.jpg" style="width:70px;height:70px"
     class="img-thumbnail" 
 	 alt="{{pamphlet.title}}"></img></a>
{% endif %}

</p>
{% endfor %}
</div>
{% endblock %}

